<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--This is my first Bean-->
    <bean class="com.pranay.springExample1.demo.bean.Student" name="studentBean">
        <property name="id">
            <value>2334</value>
        </property>
        <property name="name">
            <value>Pranay Ramteke</value>
        </property>
        <property name="address">
            <value>Nagpur</value>
        </property>
    </bean>

    <bean class="com.pranay.springExample1.demo.bean.Programmer" name="pranay">
        <property name="copy">
            <value>true</value>
        </property>
        <property name="skills">
            <value>Master Of SpringAndSpringBoot</value>
        </property>
    </bean>

    <bean class="com.pranay.springExample1.demo.bean.Programmer" name="pranayBabu">
        <property name="copy" value="false" ></property>
        <property name="skills" value="CEO Of Google" ></property>
    </bean>

    <bean class="com.pranay.springExample1.demo.bean.Programmer" name="pranayBua">
        <property name="copy" value="true"/>
        <property name="skills" value="java"/>
    </bean>

<!--    Inserting The Collection Types Via Property Injection (Setter Method)-->
    <bean class="com.pranay.springExample1.demo.bean.SuperHero" name="batman">
        <property name="heroName" value="Batman"></property>

        <property name="superPowers">
            <list>
                <value>Super Intelligent</value>
                <value>Super Rich</value>
                <value>Has Great Butler</value>
                <value>Orphan</value>
                <value>Struggles To Fight His Own Deamons</value>
            </list>
        </property>

        <property name="missions">
            <map>
                <entry key="mission-1" value="Finding Joker"/>
                <entry key="mission-2" value="Finding Love Interest CatWoman"/>
            </map>
        </property>

    </bean>

</beans>